body, html {
    margin: 0;
}

div {
    display: inline-block;
    width: 100%;
    height: 100vh;
}

.background {
    height: 100%;
    width: 100%;
    padding-right: 0;
}

.backgroundImage {
    background-image: url('img/genshin.png');
}

.icon {
    display: block;
    border-radius: 50%;
}

.profilePicture {
    height: 50%;
    width: 30%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
}

.fontOnImg {
    position: absolute;
    width: 100%;
    text-align: center;
    color: #fd8a7a;
}

.title {
    top: 20%;
    font-family: 'Dancing Script';
    font-size: 500%;
    text-shadow: 3px 3px 3px #ababab;
}

.subtitle {
    width: 100%;
    top: 35%;
    font-family: 'Times New Roman', Times;
    text-shadow: 3px 3px 3px #ababab;
}

.pageWhite {
    background-color: white;
}

.page3 {
    background-color: #fe927e;
}

.titleSecondaryPages {
    text-align: center;
    padding-top: 1%;
    font-family: 'Inter Tight';
    font-size: 350%;
}

.titleThirdPage {
    color: #EFEFEF;
}

p {
    text-align: center;
    padding-top: 3%;
    font-family: 'Inter Tight';
    font-size: 200%;
}

hr {
    width: 4%;
    border-style: dotted none none;
    border-width: 10px;
    border-color: grey;
}

.pngSize {
    width: 20%;
    height: 35%;
}

.desktop {
    float: left;
}

.softSkills {
    float: right;
}

h2 {
    text-indent: 5%;
    font-family: 'Inter Tight';
    color: #EFEFEF;
}

.alignTextNearPhoto {
    padding-left: 55%;
}

a {
    color: white;
    background-color: #fe927e;
    font-size: 60px;
    text-align: center;
    text-decoration: none;
    display:inline-block;
    padding: 1% 5%;
    margin-left: 38%;
    margin-right: 38%;
    border-radius: 50%;
    font-family: 'Inter Tight';
}

.myLinks {
    background-color: transparent;
    color: white;
    text-align: center;
    font-size: 200%;
    padding-top: 7%;
    border: none;
    cursor: pointer;
    font-family: 'Inter Tight';
    align-items: center;
    justify-content: center;
    margin-top: 12%;
}

.divAlign {
    text-align: center;
}

.footer {
    text-align: center;
    margin-top: 4%;
    margin-bottom: 0%;
    font-family: 'Inter Tight';
    font-size: 100%;
}

.halfBackground {
    background: linear-gradient(to bottom, white 50%, #fe927e 50%)
}